{% assign title = section.settings.title %}
{% assign subtitle = section.settings.subtitle %}
{% assign blog = section.settings.featured_blog %}
{% assign postLimit = section.settings.post_limit %}

<div class="featured-blog">
    <div class="featured-blog__wrapper">
        <div class="featured-blog__header">
            <span class="featured-blog__title">{{ title }}</span>
            <a href="{{ blog.url }}" class="featured-blog__subtitle">
                <span class="link">{{ subtitle }} {% render 'icon-arrow-narrow-right' %}</sp>
            </a>
        </div>
        <div class="
        featured-blog__article-wrapper 
        {% case postLimit %}
            {% when 1 %}
                featured-blog__article-wrapper--grid-1
            {% when 2 %}
                featured-blog__article-wrapper--grid-2
            {% when 3 %}  
                featured-blog__article-wrapper--grid-3
            {% else %}   
        {% endcase %}
        ">
            {% for article in blog.articles limit: postLimit %}
                {% render 'layout-blog-article', article: article %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured Blog",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "The Collection",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "default": "View All Articles",
            "label": "Sub Title"
        },
        {
            "type": "blog",
            "id": "featured_blog",
            "label": "Blog"
        },
        {
            "type": "range",
            "id": "post_limit",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 3,
            "label": "Article Limit"
        }
    ],
    "presets": [
        {
            "name":"Featured Blog"
        }
    ]
}
{% endschema %}