.blog-article {
    @apply flex flex-col px-4 md:px-0;

    &__wrapper {
        @apply aspect-w-16 aspect-h-10 mb-4;
    }

    &__image {
        @apply w-full h-full object-cover object-center;
    }

    &__overlay {
        background: $tpgreen;
        @apply absolute inset-0;
    }

    &__content {
        @apply flex flex-col flex-grow;
    }

    &__title {
        font-family: $cooper;
        @apply text-base mb-1;
    }

    &__excerpt {
        @apply mt-auto mb-1;
    }

    &__continue {
        font-size: .9em;
        color: $green !important;
        span {
            @apply inline-flex items-center;
        }
    }
}

.product-card {


    &__wrapper {
        @apply aspect-w-9 aspect-h-11 mb-4; 

        &:hover .product-card__image {
            @apply opacity-0;
        }

        &:hover .product-card__second {
            @apply opacity-100;
        }
    }

    &__image {
        @apply object-cover object-center transition-all;
    }

    &__second {
        @apply opacity-0 object-cover object-center transition-all;
    }

    &__content {
        @apply flex flex-col;
    }

    &__title {
        font-family: $cooper;
        @apply text-sm md:text-base;
    }
}

.header {
    // background: $creme;
    transition: background .2s ease-in-out;
    @apply fixed z-10 w-full h-20 md:h-40 px-4 md:px-14 md:bg-transparent;
    &[data-direction='down'] {
        background: transparent !important;
    }

    &__menu {
        @apply grid md:grid grid-cols-3 h-full;
    }

    &__logo-link {
        @apply h-full flex items-center;

        h1 {
            @apply text-xl font-bold truncate;
        }

        #header_logo {
            @apply hidden md:block;
        }

        #header_logo_mobile {
            @apply md:hidden block;
        }

        img {
            @apply h-3/5 md:h-5/6 ;
        }
    }

    &__left {
        @apply flex justify-start items-center z-10;
    }

    &__right {
        @apply flex justify-end items-center space-x-4;
    }

    &__center {
        @apply text-xl font-bold truncate  flex justify-center items-center ;
    }

    &__fullscreen {
        @apply invisible fixed opacity-0 inset-0 grid grid-cols-1 md:grid-cols-2 h-full;

        &__left {
            @apply w-full p-14 flex flex-col justify-center items-center text-5xl;
            color: $creme;
            font-family: $cooper;
            background: $green;

            &__wrapper {
                @apply flex flex-col justify-center items-center space-y-11;
            }

            &__menu {
                @apply flex items-end space-y-6 flex-col;

                &-social {
                    @apply flex flex-row space-x-11 pt-6;
                }
            }
        }

        &__right {
            @apply md:block hidden;
            background: $creme;
        }

        &__logo {
            @apply w-full flex justify-center mb-14;

            &__wrapper {
                @apply h-24;

                svg {
                    fill: $creme;
                    @apply h-1/2 w-full;
                }
            }
        }
    }
}

.footer {
    @apply md:px-14 px-4 py-14 md:pt-14 pb-4 md:pb-6;

    &__wrapper {
        @apply grid grid-cols-1 lg:grid-cols-2 gap-16 lg:gap-32 ;
    }

    &__menu {
        @apply flex flex-col justify-start;

        &-wrapper {
            @apply flex space-x-16 justify-center lg:justify-start order-2 lg:order-1;
        }

        &-title {
            font-family: $cooper;
            color: $green;
            @apply text-2xl lg:text-4xl mb-8;
        }

        &-links {
            @apply text-base mb-2;
        }
    }

    &__newsletter {
        @apply order-1 lg:order-2 flex justify-center lg:justify-start;

        span {
            font-family: $cooper;
            @apply text-5xl lg:text-7xl;
        }
    }

    &__logos {
        @apply flex opacity-40 order-3 space-x-8 justify-center lg:justify-start;
        img {
            @apply w-14;
        }
    }

    &__payment {
        @apply order-4;
    }
}