.page {
    @apply border-t border-black border-opacity-40 mb-4 md:mb-14;

    &__header {
        @apply mx-4 md:mx-14 mb-14 mt-14;
    }

    &__title {
        font-family: $cooper;
        @apply text-5xl md:text-9xl;
    }

    &__content {
        @apply mx-4 md:mx-14;
    }
}

.blog {
    @apply px-0 md:px-14 pb-12;

    &__wrapper {
        @apply grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-8 mb-12;

        &--grid-1 {
            @apply md:grid-cols-1;
        }

        &--grid-2 {
            @apply md:grid-cols-2;
        }

        &--grid-3 {
            @apply md:grid-cols-3;
        }
    }

    &__header {
        @apply px-4 mb-12 md:px-0 border-t border-gray-500 border-opacity-40 pt-12;
    }
    &__title {
        font-family: $cooper;
        @apply text-5xl md:text-6xl;
    }

    
}

.product {
    @apply px-0 md:pr-14 pl-0 grid grid-cols-1 gap-y-4 md:gap-x-14;
    @media (min-width: 768px) {
        grid-template-columns: 100fr 300px; 
    }
    &__media {
        height: 60vh;

        @apply border-b md:border-r md:border-b-0 border-black border-opacity-40;
        @media (min-width: 768px) {
            height: initial;
            @apply min-h-screen w-full
        }

        &__wrapper {
            @apply h-full w-full;
        }

        &__single {
            @apply h-full w-full;

            img {
                @apply object-cover h-full w-full;
            }
        }
    }

    // grid-template-columns: 100fr 450px;
    // @apply gap-14 h-screen;

    // &__media {
    //     @apply h-screen w-full;
    //     &__wrapper {
    //         @apply h-screen w-full;
    //     }
    //     &__single {
    //         @apply  h-screen h-full; 
    //         img {
    //             @apply w-full h-full;
    //         }
    //     }
    // }

    &__info {
        @apply z-50 h-full md:p-0 px-4 mt-4 mb-14 md:mt-40;
        input {
            @apply hidden;
            &:checked + label {
                @apply opacity-100;
                background-color: $dark;
                color: $creme;
                border-right: 1px solid rgba(0,0,0, 100%);

                & + label {
                    border-left: none;
                }
            }
        }
        h1 {
            font-family: $cooper;
            @apply text-3xl mb-4 md:text-5xl text-left md:text-left md:-ml-36;
        }
        
        h2 {
            @apply mb-8 text-2xl text-left md:text-left;
            font-family: $cooper;
        }
        &__description {
            @apply mb-8 text-xs;
        }
        &__size {
            @apply h-10 flex mb-8;
            >div {
                @apply flex flex-grow;
                label {
                    cursor: pointer;
                    opacity: 40%;
                    font-family: $cooper;
                    @apply  border border-black flex flex-grow  items-center justify-center transition-all ease-in-out duration-300  text-xs;
                    border-right: none;
                    font-size: 0.6rem;
                    &:hover {
                        opacity: 100%;
                        border-right-color: rgba(0,0,0,100%);
                    }
                }
                &:last-child {
                    label {
                        border-right: 1px solid rgba(0,0,0, 100%);
                        @apply border-r;
                    }
                }
            }
        }
        &__buttons {
            @apply mb-8;
        }
        &__atc-button {
            font-family: $cooper;
            @apply  w-full h-14 overflow-hidden mb-4 font-bold;
            background: $green;
            color: $creme;
            span {
                @apply flex items-center justify-center;
                &:first-child {
                    @apply hidden;
                }
            }
            &:disabled {
                @apply opacity-40 cursor-not-allowed;

                span {
                    &:first-child {
                        @apply block;
                    }

                    &:last-child {
                        @apply hidden;
                    }
                }
            }

            img {
                @apply h-8 ml-7;
                filter: invert(96%) sepia(12%) saturate(613%) hue-rotate(319deg) brightness(98%) contrast(93%);
            }
        }
        
        .shopify-payment-button__button {
            @apply h-14;
            &>div>div {
                @apply h-full;
            }
        }

        &__accordion {
            &__section {
                @apply relative;
                button {
                    @apply border-b border-black border-opacity-40 p-3 pl-0 w-full flex justify-between text-xs;
                    svg {
                        @apply h-4;
                    }
                }
                &-content {
                    @apply relative overflow-hidden transition-all max-h-0 duration-700;

                    p {
                        @apply py-4 text-xs;
                    }
                }
            }
        }
    }
}

.collection {
    @apply border-t border-black border-opacity-40 px-0 md:px-14;

    &__header {
        @apply px-4 mb-12 md:px-0 border-gray-500 pt-12;
    }

    &__title {
        font-family: $cooper;
        @apply text-5xl md:text-9xl;
    }

    &__wrapper {
        @apply grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-y-4 md:gap-y-8 px-4 md:px-0;

        &--grid-1 {
            @apply md:grid-cols-1;
        }

        &--grid-2 {
            @apply md:grid-cols-2;
        }

        &--grid-3 {
            @apply md:grid-cols-3;
        }
    }

    &__pagination {
        @apply px-4 md:px-0 my-12;
        &--left {
            .pagination {
                @apply justify-start;
            }
        }
    
        &--center {
            .pagination {
                @apply justify-center;
            }
        }
    
        &--right {
            .pagination {
                @apply justify-end;
            }
        }
    }
}

.article {
    @apply border-t border-black border-opacity-40 px-0 md:px-14 pb-4;

    &__header {
        @apply mb-12  pt-12;
    }

    &__blog {
        @apply opacity-40 mb-12 px-4 md:px-0 text-lg;
    }
    
    &__blog-link-wrap {
        @apply inline-flex items-center space-x-5;

        span {
            @apply inline-flex items-center space-x-5;

            &::before {
                @apply opacity-40;
            }
        }
        svg {
            @apply h-5 w-5 mr-2;
        }
    }

    &__title {
        font-family: $cooper;
        @apply text-4xl md:text-9xl mb-12 mx-4 md:mx-0;
    }

    &__author-date {
        @apply flex space-x-10 mx-4 md:mx-0;
    }

    &__date {
        @apply opacity-40;
    }

    &__image-wrapper {
        @apply mb-12 aspect-w-16 aspect-h-8 w-auto overflow-hidden;
    }

    &__image {
        @apply object-cover;
        top: -20%;
        height: 150%;
    }

    &__overlay {
        background: $tpgreen;
        @apply absolute inset-0;
    }

    &__content {
        @apply px-4 md:px-0 h-full md:max-w-4xl mx-auto;
    }
}

.forofor {
    @apply max-w-md;

    &__title {
        font-family: $cooper;
        @apply text-5xl font-bold my-4;
    }

    &__error {
        @apply text-base md:text-xl leading-normal my-4;
    }

    &__back {
        @apply my-4;
        a {
            color: $green;
            @apply text-base font-medium;
        }
    }
}

.template {
    &_cart {
        @apply px-0 md:px-14 pb-12;

        &_header {
            @apply px-4 mb-12 md:px-0 border-t border-black border-opacity-40 pt-12;

            a {
                @apply opacity-40 mb-4 text-lg block;
            }

            span {
                @apply inline-flex items-center space-x-5;

                &::before {
                    @apply opacity-40;
                }
            }
        }

        &_wrapper {
            @apply px-4 mb-12 md:px-0 border-t border-b border-black border-opacity-40 pb-6 pt-6;
        }

        &_product {
            &-info {
                @apply flex items-start justify-center flex-col;
            }
            &-remove {
                @apply text-red-400;
            }
            &-variant {
                @apply opacity-60;
            }
            &-title {
                font-family: $cooper;
                @apply text-lg;
            }
            &-line {
                grid-template-columns: 3fr 1fr 1fr;
                min-height: 400px;
                @apply grid gap-4;
            }

            &-img {
                img {
                    @apply h-full object-cover;
                }
            }

            &-qty {
                @apply flex justify-center items-center;
            }

            &-price {
                @apply flex justify-center items-center;
            }

            &-content {
                @apply grid gap-4 grid-cols-1 md:grid-cols-2;
            }
        }

        &_summary {
            @apply grid gap-8 grid-cols-1 px-4 md:px-0;
            @media (min-width: 768px) {
                grid-template-columns: 1.5fr 2fr;
            }
            &-instructions {
                label {
                    @apply mb-4;
                }
                textarea {
                    @apply resize-none border border-black border-opacity-40 bg-transparent h-20 md:h-20 flex-grow p-4;
                }
                @apply flex flex-col;
            }
            &-subtotal {
                font-family: $cooper;
                @apply text-3xl;
            }

            &-buttons {
                @apply mt-14;
            }

            &-atc {
                @apply text-right flex flex-col;

                button {
                    font-family: $cooper;
                }

                .checkout {
                    background: $green;
                    color: $creme;
                    @apply py-4 px-16;
                }
                .update {
                    color: $creme;
                    @apply py-4 px-16 bg-red-400;
                }
            }
        }
        svg {
            @apply h-5 w-5 mr-2;
        }

        &_title {
            font-family: $cooper;
            @apply text-5xl md:text-6xl;
        }
    }
}

[data-router-view="page"],
[data-router-view="blog"],
[data-router-view="article"],
[data-router-view="collection"],
[data-router-view="cart"] {
    //Mobile
    @apply pt-20 md:pt-40;
}
